# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_store
/**/.DS_store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
*.iml
/.idea/**
.idea/**

# Dependencies
node_modules/

# Dist
dist/**
coverage/**
package-lock.json